h1{
    color:chocolate
}
.all {
    background-color:sandybrown
}
.in {
    background-color: goldenrod;
    border:solid
    purple
}
.item{
    position:relative;
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
}
